{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Weather App</h1>
    <section id="location-box">
        <div id="search-box" class="p-5 mb-1">
            <form method="post" action="{% url 'index' %}" class="row d-flex align-items-center">
                {% csrf_token %}
                <div class="col-9">
                    <input list="location" name="location" placeholder="Enter City Name..." class="form-control">
                    <datalist id="location">
                        <option value="Delhi">Delhi</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Hydrabad">Hydrabad</option>
                        <option value="Pune">Pune</option>
                        <option value="Bhubaneswar">Bhubaneswar</option>
                        <option value="Jalandar">Jalandar</option>
                        <option value="Bengaluru">Bengaluru</option>
                    </datalist>
                </div>
                <div class="col-3">
                    <input type="submit" class="btn btn-success" value="search"></input>
                </div>
            </form>

        </div>
        <div id="search-details">
            {% if message %}
                <div class="row">
                    <div class="col offset-1">
                        <h3><b>{{message}}</b></h3>
                        <p><b>Try Another City</b></p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col offset-1">
                        <h3 class="text-dark" style="font-weight: bold;">{{city}},<small>{{country}}</small></h3>
                        <h1 style="font-weight: 900;" class="text-info">{{temp}} &deg; C</h1>
                        <p><b>🏴 Wind: {{wind}}</b></p>
                        <p><b>🔥 Humidity: {{humidity}}</b></p>
                    </div>
                    <div class="col">
                        <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" class="img-fluid" width="70px">
                        <p><b>{{description}}</b></p>
                        <p><b>Sunrise:<br>{{sunrise}}</b></p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}